@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  color: #000;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ecf0f3;
}
h1 {
  border: none;
  outline: none;
  margin: 4px 0;
  color: #000;
  font-size: 50px;
  padding: 11px 70px;
  border-radius: 8px;
  letter-spacing: 0.15px;
  transition: 0.25s ease;
  text-transform: uppercase;
  background-color: #ecf0f3;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
li {
  margin: 2rem;
  border: none;
  outline: none;
  color: #000;
  padding: 1.2rem;
  font-size: 1.5em;
  border-radius: 8px;
  display: inline-block;
  list-style-type: none;
  transition: 0.25s ease;
  letter-spacing: 0.15px;
  text-transform: capitalize;
  background-color: #ecf0f3;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
li span {
  display: block;
  font-size: 4.5rem;
}
